{% extends 'core/layout.html' %} {% block body %}

<!-- Decision -->
<div id="decision-info">
  <h1 class="is-size-2">{{ decision.title }}</h1>
  <p>{{ decision.description }}</p>
  {% if chosen_option %}
  <p class="is-size-6">
    <strong>Chosen option:</strong> {{ chosen_option.title }}
  </p>
  {% endif %}
</div>
<div class="my-3">
  <a class="button is-info" href="{% url 'decisions:update' decision.id %}"
    >Edit</a
  >
  <a class="button is-danger" href="{% url 'decisions:delete' decision.pk %}"
    >Delete</a
  >
  <button
    class="button is-primary toggle"
    data-target="option-form"
    data-content="option-list"
  >
    Add Option
  </button>
</div>

<!-- New Option Form -->
<form
  id="option-form"
  class="is-hidden"
  method="post"
  action="{% url 'decisions:options_create' %}"
>
  <input type="hidden" name="decision" value="{{ decision.pk }}" />
  {% csrf_token %} {{ option_form }}
  <button type="submit" class="button is-primary mt-3">Submit</button>
</form>

<!-- Options -->
<ul id="option-list">
  {% for option in decision.options.all %}
  <li class="card p-5 my-5">
    <div class="mb-5 has-text-centered">
      <h2 class="is-size-3">
        {{ option.title }}{% if option.is_chosen %} ✔️ {% endif %}
      </h2>
      <p class="is-size-5 mb-3">
        {% with score=option.get_score %} {{ score }} point{{ score|pluralize }}
        {% endwith %}
      </p>
      <form
        class="mb-3"
        action="{% url 'decisions:options_choose' option.pk %}"
        method="post"
      >
        {% csrf_token %} {% if option.is_chosen %}
        <input type="hidden" name="is_chosen" value="false" />
        <button type="submit" class="button is-danger">Unchoose</button>

        {% else %}
        <input type="hidden" name="is_chosen" value="true" />
        <button type="submit" class="button is-primary">Choose</button>
        {% endif %}
      </form>
      <a
        class="button is-info is-small is-rounded"
        href="{% url 'decisions:options_update' option.pk %}"
      >
        Edit
      </a>
      <a
        class="button is-danger is-small is-rounded"
        href="{% url 'decisions:options_delete' option.pk %}"
      >
        Delete
      </a>
    </div>

    <!-- Argyments -->
    <div class="columns">
      <!-- Pros -->
      <div class="column is-half">
        <h3 class="is-size-4">Pros</h3>
        <ul>
          {% for pro in option.pros.all %}
          <li class="is-flex is-justify-content-space-between mb-2">
            <span>
              {{ pro.description }}
              <span class="tag is-success">{{ pro.weight }}</span>
            </span>
            <span>
              <a
                class="button is-small is-info is-rounded"
                href="{% url 'decisions:pros_update' pro.pk %}"
                >Edit</a
              >
              <a
                class="button is-danger is-small is-rounded"
                href="{% url 'decisions:pros_delete' pro.pk %}"
                >Delete</a
              >
            </span>
          </li>
          {% endfor %}
        </ul>
        <a class="toggle button is-success" data-target="pro-{{ option.pk }}"
          >Add Pro</a
        >
        <form
          id="pro-{{ option.pk }}"
          class="is-hidden"
          method="post"
          action="{% url 'decisions:pros_create' %}"
        >
          <input type="hidden" name="option" value="{{ option.pk }}" />
          {% csrf_token %} {{ pro_form }}
          <button type="submit" class="button is-primary mt-3">Add</button>
        </form>
      </div>

      <!--- Cons -->
      <div class="column is-half">
        <h3 class="is-size-4">Cons</h3>
        <ul>
          {% for con in option.cons.all %}
          <li class="is-flex is-justify-content-space-between mb-2">
            <span>
              {{ con.description }}
              <span class="tag is-danger">{{ con.weight }}</span>
            </span>
            <span>
              <a
                class="button is-small is-info is-rounded"
                href="{% url 'decisions:cons_update' con.pk %}"
                >Edit</a
              >
              <a
                class="button is-danger is-small is-rounded"
                href="{% url 'decisions:cons_delete' con.pk %}"
              >
                Delete
              </a>
            </span>
          </li>
          {% endfor %}
        </ul>
        <a class="toggle button is-warning" data-target="con-{{ option.pk }}"
          >Add Con</a
        >
        <form
          id="con-{{ option.pk }}"
          class="is-hidden"
          method="post"
          action="{% url 'decisions:cons_create' %}"
        >
          <input type="hidden" name="option" value="{{ option.pk }}" />
          {% csrf_token %} {{ con_form }}
          <button type="submit" class="button is-primary mt-3">Add</button>
        </form>
      </div>
    </div>
  </li>
  {% empty %}
  <li>Add an option to get started.</li>
  {% endfor %}
</ul>

{% endblock %}
