{% extends 'core/layout.html' %} {% block body %}
<h1 class="is-size-2 mb-4">Login</h1>
<form method="post" action="{% url 'users:login' %}">
  {% csrf_token %} {% for field in form %}
  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
  <input
    id="{{ field.id_for_label }}"
    name="{{ field.html_name }}"
    type="{{ field.name }}"
    class="input is-primary mb-3"
    placeholder="{{ field.label }}"
  />
  {{ field.help_text }} {% endfor %}
  <button type="submit" class="button is-primary">Submit</button>
  {{ form.non_field_errors }}
</form>
<p class="my-2">
  Don't have an account? <a href="{% url 'users:register' %}">Register</a>
</p>
{{ logout_message }} {% endblock %}
